<!DOCTYPE html>
<html lang="en">
<head>
  <title>Home</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta charset="utf-8">
  <meta name="keywords" content="" />
  <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
  <!-- bootstrap-css -->
  <link href="../css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
  <!--// bootstrap-css -->
  <!-- css -->
  <link rel="stylesheet" href="../css/style.css" type="text/css" media="all" />
  <link rel='stylesheet prefetch' href='../css/kwgwmy.css'>
  <link rel='stylesheet prefetch' href='../css/jgrjew.css'>
  <link rel='stylesheet prefetch' href='../css/rrgkvw.css'>
  <link href='../css/simplelightbox.min.css' rel='stylesheet' type='text/css'>
  <link href="../css/easy-responsive-tabs.css" rel="stylesheet" type="text/css" media="all" />
  <!--// css -->
  <!-- font-awesome icons -->
  <link rel="stylesheet" href="../css/font-awesome.min.css" />
  <!-- //font-awesome icons -->
  <script type="text/javascript" src="../js/jquery-2.1.4.min.js"></script>
  <script type="text/javascript">
      jQuery(document).ready(function($) {
          $(".scroll").click(function(event){
              event.preventDefault();
              $('html,body').animate({scrollTop:$(this.hash).offset().top},1000);
          });
      });
  </script>

</head>
<body>
<!--/banner-->
<div class="w3ls-banner-top" id="home">
  <div class="frame">
    <img src="../images/placeholder.png" />
    <canvas id="canvas"></canvas>

  </div>
  <div class="w3layouts_menu">
    <nav class="cd-stretchy-nav edit-content">
      <a class="cd-nav-trigger" href="#0"> Menu <span aria-hidden="true"></span> </a>
      <ul>
        <li><a href="#home" class="scroll"><span>banner</span></a></li>
        <li><a href="#about" class="scroll"><span>login</span></a></li>
        <li><a href="#services" class="scroll"><span>messageshow</span></a></li>
      </ul>
      <span aria-hidden="true" class="stretchy-nav-bg"></span>
    </nav>
  </div>


  <div class="window">
    <div class="santa">
      <div class="head">
        <div class="face">
          <div class="redhat">
            <div class="whitepart"></div>
            <div class="redpart"></div>
            <div class="hatball"></div>
          </div>
          <div class="eyes"></div>
          <div class="beard">
            <div class="nouse"></div>
            <div class="mouth"></div>
          </div>
        </div>
        <div class="ears"></div>
      </div>
      <div class="body"></div>
    </div>
  </div>

  <div class="fir">
    <div class="fir__item"></div>
    <div class="fir__item"></div>
    <div class="fir__item"></div>

    <div class="fir__log"></div>

    <div class="orbs orbs-1"></div>
    <div class="orbs orbs-2"></div>
    <div class="orbs orbs-3"></div>
    <div class="orbs orbs-4"></div>
  </div>

  <div class="message">
    <h1>This is a</h1>
    <h2>Merry Christmas</h2>
    <h1><B>MessageWall</B></h1>
    <h2>What present do you want</h2>
    <h1>Please tell us</h1>
  </div>


  <div class="wrapper">
    <div class="back">
    </div>
    <canvas id="canvas"></canvas>

  </div>
</div>
<script src='js/jquery-2.1.4.min.js'></script>

<script  src="js/index.js"></script>
<!--//banner-->
<!--/about-->
<div class="about" id="about">
  <div class="container">
    <!--/about-section-->
    <div class="about-section">
      <div class="col-md-7 ab-left">
        <div class="grid">
          <div class="h-f wow slideInLeft"  data-wow-duration="1s" data-wow-delay=".2s">
            <figure class="effect-jazz">
              <img src="../images/d1.jpg" alt="img25"/>
              <figcaption>
                <h4>Festive <span>joy</span></h4>
                <p>When Jazz starts to chase cars, the whole world stands still.</p>

              </figcaption>
            </figure>

          </div>
          <div class="h-f wow slideInLeft"  data-wow-duration="1s" data-wow-delay=".2s">
            <figure class="effect-jazz">
              <img src="../images/d2.jpg" alt="img25"/>
              <figcaption>
                <h4>Festive <span>joy</span></h4>
                <p>When Jazz starts to chase cars, the whole world stands still.</p>

              </figcaption>
            </figure>

          </div>
          <div class="clearfix"> </div>
        </div>
      </div>
      <div class="col-md-5 ab-text">
        <h3>Welcome<sup><img src="../images/logo.png" alt="images"></sup></h3>
        <div class="arrows-two wow slideInDown"  data-wow-duration="1s" data-wow-delay=".5s"><img src="../images/border.png" alt="border"/></div>
        <p class="wow slideInUp"  data-wow-duration="1s" data-wow-delay=".3s">欢迎大家来到这个留言墙，如果想加入我们进行长期讨论，欢迎注册，若已有账号可直接登录哦。</p>
        <div class="start wow flipInX"  data-wow-duration="1s" data-wow-delay=".3s">
          <a href="./login" target="_blank">登陆</a>
          <a href="./register" target="_blank">注册</a>
        </div>

      </div>
      <div class="clearfix"> </div>
    </div>
    <!--//about-section-->

  </div>
</div>
<!--//about-->
<!-- services -->
<div class="services" id="services">
  <div class="container">
    <div class="w3-head-all">
      <h3><sup><img src="../images/logo.png" alt="images"></sup>Message Show</h3>
    </div>
    <div class="wthree-services-grids">
      <div class="col-md-4 w3-agileits-services-grid">
        <h4>Live Music concert</h4>
        <p>Nam dolor arcu, interdum eget purus non, blandit accumsan justo. Duis faucibus eros dapibus efficitur volutpat.</p>
      </div>
      <div class="col-md-4 w3-agileits-services-grid agile-services1">
        <h4>Dj by famous Artists</h4>
        <p>Nam dolor arcu, interdum eget purus non, blandit accumsan justo. Duis faucibus eros dapibus efficitur volutpat.</p>
      </div>
      <div class="col-md-4 w3-agileits-services-grid">
        <h4>Belly Dance Couples</h4>
        <p>Nam dolor arcu, interdum eget purus non, blandit accumsan justo. Duis faucibus eros dapibus efficitur volutpat.</p>
      </div>
      <div class="col-md-4 w3-agileits-services-grid">
        <h4>top branded wines</h4>
        <p>Nam dolor arcu, interdum eget purus non, blandit accumsan justo. Duis faucibus eros dapibus efficitur volutpat.</p>
      </div>
      <div class="col-md-4 w3-agileits-services-grid agile-services2">
        <h4>Unlimited food </h4>
        <p>Nam dolor arcu, interdum eget purus non, blandit accumsan justo. Duis faucibus eros dapibus efficitur volutpat.</p>
      </div>
      <div class="col-md-4 w3-agileits-services-grid">
        <h4>friendly staff at event</h4>
        <p>Nam dolor arcu, interdum eget purus non, blandit accumsan justo. Duis faucibus eros dapibus efficitur volutpat.</p>
      </div>
      <div class="clearfix"> </div>
    </div>
  </div>
</div>
<!-- //services -->
<!-- footer -->
<div class="w3l_footer">
  <div class="container">
    <!-- footer-button-info -->
    <div class="footer-middle-agileinfo">
      <div class="footer-button">

        <h2>Copyright &copy; 1400310501段又嘉<sup><img src="../images/logo.png" alt="images"></sup></h2>
      </div>
    </div>
    <!-- footer-button-info -->
  </div>
</div>
        <!-- menu-js -->
<script src="../js/modernizr.js"></script>
<script src="../js/menu.js"></script>
<!-- //menu-js -->

<!-- flexisel -->
<script type="text/javascript" src="../js/jquery.flexisel.js"></script>
<script type="text/javascript">
    $(window).load(function() {
        $("#flexiselDemo1").flexisel({
            visibleItems: 4,
            animationSpeed: 1000,
            autoPlay: true,
            autoPlaySpeed: 3000,
            pauseOnHover: true,
            enableResponsiveBreakpoints: true,
            responsiveBreakpoints: {
                portrait: {
                    changePoint:480,
                    visibleItems: 1
                },
                landscape: {
                    changePoint:640,
                    visibleItems:2
                },
                tablet: {
                    changePoint:768,
                    visibleItems: 3
                }
            }
        });

    });
</script>
<!-- //flexisel -->
<!-- script for responsive tabs -->
<script src="../js/easy-responsive-tabs.js"></script>
<script>
    $(document).ready(function () {
        $('#horizontalTab').easyResponsiveTabs({
            type: 'default', //Types: default, vertical, accordion
            width: 'auto', //auto or any width like 600px
            fit: true, // 100% fit in a container
            closed: 'accordion', // Start closed if in accordion view
            activate: function (event) { // Callback function if tab is switched
                var $tab = $(this);
                var $info = $('#tabInfo');
                var $name = $('span', $info);
                $name.text($tab.text());
                $info.show();
            }
        });
        $('#verticalTab').easyResponsiveTabs({
            type: 'vertical',
            width: 'auto',
            fit: true
        });
    });
</script>

<!-- //contact form -->
<script type="text/javascript">
    $(document).ready(function() {
        /*
            var defaults = {
            containerID: 'toTop', // fading element id
            containerHoverID: 'toTopHover', // fading element hover id
            scrollSpeed: 1200,
            easingType: 'linear'
            };
        */
        $().UItoTop({ easingType: 'easeOutQuart' });
    });
</script>
<a href="#" id="toTop" style="display: block;"> <span id="toTopHover" style="opacity: 1;"> </span></a>
<script src="../js/SmoothScroll.min.js"></script>
<!-- start-smoth-scrolling -->
<script type="text/javascript" src="../js/move-top.js"></script>
<script type="text/javascript" src="../js/easing.js"></script>

<script src="../js/bootstrap.js"></script>
</body>
</html>
